.new-todo-header {
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
  color: cornflowerblue;
}

.new-todo__box {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  width: 300px;
}

.new-todo__box input {
  width: 100%;
  height: 40px;
  border: 1px solid darkgray;
  border-radius: 6px;
}

.new-todo__create-btn {
  width: 85%;
  padding: 10px;
  font-size: 16px;
  color: #fafafa;
  background: dodgerblue;
  border: 1px solid cadetblue;
  border-radius: 12px;
}